body {
  /*font-family: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype;*/
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.container {
  margin: 7px;
  text-align: center;
}

div.main {
  background-color: rgba(249, 249, 249, 0.3);
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0;
  width: 970px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.padded {
  margin: 5px 5px 5px 5px;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.indcont {
  justify-content: space-between;
}

.justend {
  justify-content: flex-end;
}

p.indtext {
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
}

#ind_section > div{
  margin-left: 25px;
}

p.indoverview {
  width: 290px;
  quotes: "«" "»";
  font-style: italic;
}

p.indfigtext {
  width: 500px;
  font-size: 12px;
  quotes: "«" "»";
  /*font-style: italic;*/
}

#about_fig_sec {
  margin-right: 25px;
}

h1, h2, h3 {
  color: #8d8b8b;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  background-color: rgba(232, 232, 232, 0.3);
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  margin: 0px 0px 0px 0px;
}

h2 {
  font-size: 20px;
  margin: 4px 20px 4px 20px;
}

/* force graph style */
line.link {stroke: gray; cursor: pointer; stroke-width: 4;}
line.linkh {stroke: yellow; cursor: pointer; stroke-width: 4.5; opacity: 0.52}
.node circle {stroke: white; cursor: pointer;}

.glegends {
  /*font-family: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype;*/
  fill: #464a52;
  font-size: 14px
}

.toolTip {
  /*font-family: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype;*/
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  position: absolute;
  display: none;
  min-width: 60px;
  height: auto;
  background: rgb(219, 213, 213);
  background: rgba(252, 250, 250, 0.7);
  border: none;
  color: gray;
  padding: 3px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.linksToolTip {
  width: 230px;
  font-size: 12px;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10px;
  padding-right: 10px;
}

.linksToolTip h4 {
  text-align: center;
  text-justify: inter-word;
  margin: 5px 0px 0px 0px;
}

/* Graph Indicators styles */
.baseLine {
  stroke-width: 2;
  stroke-dasharray: 6;
}
.baseLineText {
  fill: #8E8883;
  font-size: 8pt;
  font-family: sans-serif;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #8E8883;
  font-size: 8pt;
  font-family: sans-serif;
}
.axis-label {
  fill: #635F5D;
  font-size: 10pt;
  font-family: sans-serif;
}
.lineSeriesMid {
  stroke-width: 3;
  fill: none;
}
.lineSeriesThin {
  stroke-width: 1.5;
  fill: none;
}
.lineSeriesDashed {
  stroke-dasharray: 6;
}
.indlegends {
  fill: #464a52;
  color: #e7e7dc;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}
.indAnnotations {
  fill: #635F5D;
  font-size: 12px;
  font-family: sans-serif;
}
/* Graph styles */

