body {
  font-family: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.container {
  margin: 7px;
  text-align: center;
}

div.main {
  background-color: rgba(249, 249, 249, 0.3);
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0;
  width: 970px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.indcont {
  display: flex;
  flex-direction: row;
  padding: 0px 10px 0px 10px;
  justify-content: space-between;
}

p.indtext {
  font-size: 14px;
  width: 270px;
  text-align: justify;
  text-justify: inter-word;
  quotes: "«" "»";
  font-style: italic;
}

line.link {stroke: gray; cursor: pointer; stroke-width: 4;}
line.linkh {stroke: yellow; cursor: pointer; stroke-width: 4.5; opacity: 0.52}
.node circle {stroke: white; cursor: pointer;}
.glegends text {
  font-family: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype;
  color: #1b1e23;
  font-size: 14px
}
.toolTip {
  font-family: "Source Serif Pro",Iowan Old Style,Apple Garamond,Palatino Linotype;
  font-size: 14px;
  position: absolute;
  display: none;
  min-width: 60px;
  height: auto;
  background: rgb(80, 80, 80);
  background: rgba(80, 80, 80, 0.7);
  border: none;
  color: white;
  padding: 3px;
  text-align: center;
}

/* Graph styles */
.baseLine {
  stroke-width: 2;
  stroke-dasharray: 6;
}
.baseLineText {
  fill: #8E8883;
  font-size: 8pt;
  font-family: sans-serif;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #8E8883;
  font-size: 8pt;
  font-family: sans-serif;
}
.axis-label {
  fill: #635F5D;
  font-size: 10pt;
  font-family: sans-serif;
}
/* Graph styles */

